<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ImportGroup Label="PropertySheets" />
  <PropertyGroup Label="UserMacros">
    <GTEST_INCLUDE_DIR>f:\se\lib\cpp\google\gtest\github\googletest\googletest\include</GTEST_INCLUDE_DIR>
    <GTEST_DLIB_DIR>f:\se\lib\cpp\google\gtest\github\googletest\googletest\msvc\gtest\Debug</GTEST_DLIB_DIR>
    <GTEST_RLIB_DIR>f:\se\lib\cpp\google\gtest\github\googletest\googletest\msvc\gtest\Release</GTEST_RLIB_DIR>
  </PropertyGroup>
  <PropertyGroup />
  <ItemDefinitionGroup />
  <ItemGroup>
    <BuildMacro Include="GTEST_INCLUDE_DIR">
      <Value>$(GTEST_INCLUDE_DIR)</Value>
      <EnvironmentVariable>true</EnvironmentVariable>
    </BuildMacro>
    <BuildMacro Include="GTEST_DLIB_DIR">
      <Value>$(GTEST_DLIB_DIR)</Value>
      <EnvironmentVariable>true</EnvironmentVariable>
    </BuildMacro>
    <BuildMacro Include="GTEST_RLIB_DIR">
      <Value>$(GTEST_RLIB_DIR)</Value>
      <EnvironmentVariable>true</EnvironmentVariable>
    </BuildMacro>
  </ItemGroup>
</Project>