<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ImportGroup Label="PropertySheets" />
  <PropertyGroup Label="UserMacros">
    <XI_POINT_INCLUDE_DIR>f:\HSE\training\algo\16_17\part2\reps\mit_point\src</XI_POINT_INCLUDE_DIR>
    <XI_POINT_DLIB_DIR></XI_POINT_DLIB_DIR>
    <XI_POINT_RLIB_DIR></XI_POINT_RLIB_DIR>
  </PropertyGroup>
  <PropertyGroup />
  <ItemDefinitionGroup />
  <ItemGroup>
    <BuildMacro Include="XI_POINT_INCLUDE_DIR">
      <Value>$(XI_POINT_INCLUDE_DIR)</Value>
      <EnvironmentVariable>true</EnvironmentVariable>
    </BuildMacro>
    <BuildMacro Include="XI_POINT_DLIB_DIR">
      <Value>$(XI_POINT_DLIB_DIR)</Value>
      <EnvironmentVariable>true</EnvironmentVariable>
    </BuildMacro>
    <BuildMacro Include="XI_POINT_RLIB_DIR">
      <Value>$(XI_POINT_RLIB_DIR)</Value>
      <EnvironmentVariable>true</EnvironmentVariable>
    </BuildMacro>
  </ItemGroup>
</Project>